/node_modules
/public/hot
/public/storage
/public/gambar/client
/public/gambar/galery
/public/gambar/post
/public/gambar/product
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
