<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <!-- Primary Meta Tags -->
        <title>Berita</title>
        <meta name="title" content="Berita" />
        <meta
            name="description"
            content='A company that focuses on providing telecommunication materials and services based on fiber optic technology. Currently, PT. MCN is quite taken into account in Indonesian telecommunications. With the motto "The Power of Change" spurred PT. MCN to always adapt to various changes and technological advances. The quality of production and the trust of partners is a priority for us.'
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.borsyacipta.com" />
        <meta property="og:title" content="Berita" />
        <meta
            property="og:description"
            content='A company that focuses on providing telecommunication materials and services based on fiber optic technology. Currently, PT. MCN is quite taken into account in Indonesian telecommunications. With the motto "The Power of Change" spurred PT. MCN to always adapt to various changes and technological advances. The quality of production and the trust of partners is a priority for us.'
        />
        <meta
            property="og:image"
            content="http://www.borsyacipta.com/backend/image/setting/popup-pt-magitha-citra-nusantara-mcn.jpg"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="http://www.borsyacipta.com" />
        <meta property="twitter:title" content="Berita" />
        <meta
            property="twitter:description"
            content='A company that focuses on providing telecommunication materials and services based on fiber optic technology. Currently, PT. MCN is quite taken into account in Indonesian telecommunications. With the motto "The Power of Change" spurred PT. MCN to always adapt to various changes and technological advances. The quality of production and the trust of partners is a priority for us.'
        />
        <meta
            property="twitter:image"
            content="http://www.borsyacipta.com/backend/image/setting/popup-pt-magitha-citra-nusantara-mcn.jpg"
        />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="manifest" href="site.webmanifest.html" />
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="../public/frontend/tionco/assets/img/favicon.png"
        />
        <!-- Place favicon.ico in the root directory -->
        <!-- CSS here -->
        <link
            rel="stylesheet"
            href="../public/frontend/tionco/assets/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="../public/frontend/tionco/assets/css/fontawesome-all.min.css"
        />
        <link
            rel="stylesheet"
            href="../public/frontend/tionco/assets/css/animate.min.css"
        />
        <link
            rel="stylesheet"
            href="../public/frontend/tionco/assets/css/flaticon.css"
        />
        <link
            rel="stylesheet"
            href="../public/frontend/tionco/assets/css/odometer-theme-default.css"
        />
        <link
            rel="stylesheet"
            href="../public/frontend/tionco/assets/css/magnific-popup.css"
        />
        <link
            rel="stylesheet"
            href="../public/frontend/tionco/assets/css/meanmenu.css"
        />
        <link
            rel="stylesheet"
            href="../public/frontend/tionco/assets/css/swipper.css"
        />
        <link
            rel="stylesheet"
            href="../public/frontend/tionco/assets/css/icofont.min.css"
        />
        <link
            rel="stylesheet"
            href="../public/frontend/tionco/assets/css/main.css"
        />
        <!-- Livewire Styles -->
        <style>
            [wire\:loading] {
                display: none;
            }

            [wire\:offline] {
                display: none;
            }

            [wire\:dirty]:not(textarea):not(input):not(select) {
                display: none;
            }
        </style>
        <!-- Livewire Scripts -->

        <script
            src="../livewire/livewire.js?id=d7d975b5d122717a1ee0"
            data-turbolinks-eval="false"
        ></script>
        <script data-turbolinks-eval="false">
            if (window.livewire) {
                console.warn(
                    "Livewire: It looks like Livewire's @livewireScripts JavaScript assets have already been loaded. Make sure you aren't loading them twice."
                );
            }

            window.livewire = new Livewire();
            window.livewire_app_url = "";
            window.livewire_token = "m6rbujBEaIORU97oi7mJIgbg2GIZbJptDiKMVr9P";

            /* Make Alpine wait until Livewire is finished rendering to do its thing. */
            window.deferLoadingAlpine = function (callback) {
                window.addEventListener("livewire:load", function () {
                    callback();
                });
            };

            document.addEventListener("DOMContentLoaded", function () {
                window.livewire.start();
            });

            var firstTime = true;
            document.addEventListener("turbolinks:load", function () {
                /* We only want this handler to run AFTER the first load. */
                if (firstTime) {
                    firstTime = false;
                    return;
                }

                window.livewire.restart();
            });

            document.addEventListener("turbolinks:before-cache", function () {
                document.querySelectorAll("[wire\\:id]").forEach(function (el) {
                    const component = el.__livewire;

                    const dataObject = {
                        data: component.data,
                        events: component.events,
                        children: component.children,
                        checksum: component.checksum,
                        locale: component.locale,
                        name: component.name,
                        errorBag: component.errorBag,
                        redirectTo: component.redirectTo,
                    };

                    el.setAttribute(
                        "wire:initial-data",
                        JSON.stringify(dataObject)
                    );
                });
            });
        </script>
    </head>
    <body>
        <!-- header_area_start -->
        <header class="header_area d-none d-lg-block">
            <div class="header_top_area header_top_clip_one">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xxl-10 col-xl-10 col-lg-10">
                            <div class="top_info_wrapper">
                                <div
                                    class="top_info_single has_left_icon theme_1"
                                >
                                    <a href="mailto:humas@borsyacipta.com"
                                        ><i class="flaticon-email"></i
                                    ></a>
                                    <div class="top_info_single_right">
                                        <span>Email Address</span>
                                        <a href="mailto:humas@borsyacipta.com"
                                            >humas@borsyacipta.com</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2">
                            <div
                                class="top_info_single header_top_right text-end has_left_icon theme_1"
                            >
                                <div class="top_info_single_right">
                                    <span>Get Support</span>
                                    <a href="tel:622254412751">622254412751</a>
                                </div>
                                <a href="tel:622254412751"
                                    ><i class="flaticon-call ml-20"></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header_menu_area menu_clip_one">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-5 col-lg-5">
                            <div class="main_menu1">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li>
                                            <a href="../index.htm">Home</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">About Us</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a
                                                        href="../page/selayang-pandang.html"
                                                        >Selayang Pandang</a
                                                    >
                                                    <a
                                                        href="../page/visi--misi.html"
                                                        >Visi &amp; Misi</a
                                                    >
                                                    <a
                                                        href="../page/iso--certificate.html"
                                                        >ISO &amp;
                                                        Certificate</a
                                                    >
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="articles.html">News</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-lg-2">
                            <div class="logo_middle_wrapper">
                                <a href="#" class="logo_middle"
                                    ><img
                                        src="../public/frontend/tionco/assets/img/logo/logo.png"
                                        alt="logo"
                                /></a>
                            </div>
                        </div>
                        <div class="col-xxl-5 col-lg-5 text-end">
                            <div class="main_menu1">
                                <nav>
                                    <ul class="menu-right">
                                        <li>
                                            <a
                                                href="../tag/optical-fiber-cables.html"
                                                >Products</a
                                            >
                                        </li>
                                        <li>
                                            <a href="../album.html">Gallery</a>
                                        </li>
                                        <li>
                                            <a href="../tag/services.html"
                                                >Services</a
                                            >
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header_area_start -->
        <!-- header_menu_outer_for_mobile start -->
        <div class="header_menu_outer d-lg-none">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="logo_middle_mobile">
                            <a href="#" class="mobile_middle"
                                ><img
                                    src="../public/frontend/tionco/assets/img/logo/logo.png"
                                    alt="logo"
                            /></a>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <div class="open-mobile-menu">
                            <a href="javascript:void(0);">
                                <i class="fal fa-bars"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header_menu_outer_for_mobile end -->

        <!-- slide-bar start -->
        <!-- Sidebar for Mobile -->
        <div class="fix d-lg-none">
            <div class="side-info">
                <div class="offset-widget offset-logo mb-30 pb-20">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <a href="#" class="mobile_logo"
                                ><img
                                    src="../public/frontend/tionco/assets/img/logo/logo.png"
                                    alt="Logo"
                            /></a>
                        </div>
                        <div class="col-4 text-end">
                            <button class="side-info-close">
                                <i class="fal fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="offset-widget offset_searchbar mb-30">
                    <form method="get" action="#">
                        <div class="offset_search_content">
                            <input type="search" placeholder="Search.." />
                            <button type="submit" class="offset_search_button">
                                <i class="fal fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="mobile-menu"></div>

                <div class="contact-infos mt-30 mb-30">
                    <div class="contact-list mobile_contact mb-30">
                        <h4>Kontak Kami</h4>
                        <a href="#" class="theme-1"
                            ><i class="fal fa-map-marker-alt"></i
                            ><span
                                >Jalan kopo BizPark Commercial Estate Blok A2
                                No.7 Bandung</span
                            ></a
                        >
                        <a href="tel:622254412751" class="theme-2"
                            ><i class="fal fa-phone"></i
                            ><span>622254412751</span></a
                        >
                        <a href="mailto:humas@borsyacipta.com" class="theme-3"
                            ><i class="far fa-envelope"></i
                            ><span>humas@borsyacipta.com</span></a
                        >
                    </div>

                    <div class="top_social offset_social mt-20 mb-30">
                        <a
                            href="https://www.facebook.com/BorSyaGroup"
                            target="_blank"
                            class="facebook"
                            ><i class="fab fa-facebook-f"></i
                        ></a>
                        <a href="" target="_blank" class="twitter"
                            ><i class="fab fa-twitter"></i
                        ></a>
                        <a
                            href="https://instagram.com/borsyagroup"
                            target="_blank"
                            class="linkedin"
                            ><i class="fab fa-instagram"></i
                        ></a>
                        <a
                            href="https://www.youtube.com/channel/UChBtMxlGvuk9MCR7ZogYytw"
                            target="_blank"
                            class="youtube"
                            ><i class="fab fa-youtube"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="offcanvas-overlay"></div>
        <!-- slide-bar end -->
        <main>
            <div
                wire:initial-data='{"id":"VlfWvdVjGOm1ACE1tHBd","name":"category.index","redirectTo":false,"locale":"id","events":[],"eventQueue":[],"dispatchQueue":[],"data":{"id_category":null,"name":null},"children":[],"checksum":"23387e22595ade2c101bf4f4c13b62b0a35c70f7bbb3f8a8443173fab5fc1509"}'
                wire:id="VlfWvdVjGOm1ACE1tHBd"
                class="news_area pt-120 pb-80"
            >
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="news_content_wrapper">
                                <div
                                    class="page_pagination text-center mb-30"
                                ></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="news_widget_wrapper">
                                <div class="news_widget feeds_widget mb-40">
                                    <h4 class="news_widget_title">
                                        Our Products
                                    </h4>
                                    <div class="news_widget_content">
                                        <div
                                            class="news_single_feed is_border_bottom"
                                        >
                                            <div class="news_feed_img">
                                                <img
                                                    src="../backend/image/news/middle/splitter-modular.png"
                                                />
                                            </div>
                                            <div class="news_feed_text">
                                                <h5 class="news_feed_title">
                                                    <a
                                                        href="../page/splitter-modular.html"
                                                        >SPLITTER MODULAR</a
                                                    >
                                                </h5>
                                                <div
                                                    class="news_meta_single meta_sidebar"
                                                >
                                                    <i class="fal fa-tags"></i>
                                                    <a
                                                        href="../page/splitter-modular.html"
                                                        >Optical Fiber Cables</a
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="news_single_feed is_border_bottom"
                                        >
                                            <div class="news_feed_img">
                                                <img
                                                    src="../backend/image/news/middle/fiber-optical-patch-cord.png"
                                                />
                                            </div>
                                            <div class="news_feed_text">
                                                <h5 class="news_feed_title">
                                                    <a
                                                        href="../page/fiber-optical-patch-cord.html"
                                                        >FIBER OPTICAL PATCH
                                                        CORD</a
                                                    >
                                                </h5>
                                                <div
                                                    class="news_meta_single meta_sidebar"
                                                >
                                                    <i class="fal fa-tags"></i>
                                                    <a
                                                        href="../page/fiber-optical-patch-cord.html"
                                                        >Optical Fiber Cables</a
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="news_single_feed is_border_bottom"
                                        >
                                            <div class="news_feed_img">
                                                <img
                                                    src="../backend/image/news/middle/pre-connectorized-drop-cable.png"
                                                />
                                            </div>
                                            <div class="news_feed_text">
                                                <h5 class="news_feed_title">
                                                    <a
                                                        href="../page/pre-connectorized-drop-cable.html"
                                                        >PRE-CONNECTORIZED DROP
                                                        CABLE</a
                                                    >
                                                </h5>
                                                <div
                                                    class="news_meta_single meta_sidebar"
                                                >
                                                    <i class="fal fa-tags"></i>
                                                    <a
                                                        href="../page/pre-connectorized-drop-cable.html"
                                                        >Optical Fiber Cables</a
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="news_single_feed is_border_bottom"
                                        >
                                            <div class="news_feed_img">
                                                <img
                                                    src="../backend/image/news/middle/fttx-outdoor--drop-cable-rectangle-type.png"
                                                />
                                            </div>
                                            <div class="news_feed_text">
                                                <h5 class="news_feed_title">
                                                    <a
                                                        href="../page/fttx-outdoor--drop-cable-rectangle-type.html"
                                                        >FTTX OUTDOOR DROP CABLE
                                                        (Rectangle Type)</a
                                                    >
                                                </h5>
                                                <div
                                                    class="news_meta_single meta_sidebar"
                                                >
                                                    <i class="fal fa-tags"></i>
                                                    <a
                                                        href="../page/fttx-outdoor--drop-cable-rectangle-type.html"
                                                        >Optical Fiber Cables</a
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- back to top start -->
        <div class="progress-wrap">
            <svg
                class="progress-circle svg-content"
                width="100%"
                height="100%"
                viewbox="-1 -1 102 102"
            >
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
            </svg>
        </div>
        <!-- back to top end -->

        <!-- footer_area-start -->
        <!-- footer_area-start -->
        <footer class="footer_wrapper_area fix">
            <div class="footer_area darker_bg pt-100 pb-40">
                <div class="container">
                    <div class="row">
                        <div
                            class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6"
                        >
                            <div
                                class="footer_widget footer_info mb-50 wow fadeInUp"
                                data-wow-delay="0.3s"
                            >
                                <div class="footer_widget_logo">
                                    <h4 class="footer_title_text">
                                        Contact US
                                        <span class="footer_sub_text"
                                            >If you need more help.</span
                                        >
                                    </h4>
                                </div>
                                <div class="footer_widget_content mt-40">
                                    <b>Kantor Pusat</b><br />
                                    Jalan Kopo Bizpark Commercial Estate Blok A2
                                    No.7, Kota Bandung, Jawa Barat. 40227<br /><br />
                                    <b>Jakarta Selatan</b><br />
                                    Sequis Centre (10th Floor) Jl. Jend.
                                    Sudirman No.71, Jakarta Selatan 12190<br /><br />
                                    <b>Korea Selatan</b><br />
                                    1803-5 – A Gunpo IT Valley 17, Gosan-ro 148
                                    beon-gil, Gunpo-si, Gyeonggi-do Korea
                                    435-733<br /><br />
                                    <b>Sumbawa Besar</b><br />
                                    Jalan Setia Budi No.14F Sumbawa Besar, NTB.
                                    84311
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6"
                        >
                            <div
                                class="footer_widget footer_links w_50 mb-50 pl-40 fix wow fadeInUp"
                                data-wow-delay="0.4s"
                            >
                                <div class="footer_widget_title">
                                    <h4 class="footer_title_text">
                                        Get In Touch
                                        <span class="footer_sub_text"
                                            >Easy to catch us here</span
                                        >
                                    </h4>
                                </div>
                                <div class="footer_content">
                                    <div class="footer_address3">
                                        <a
                                            class="address_line"
                                            href="mailto:humas@borsyacipta.com"
                                            target="_blank"
                                        >
                                            <span class="address_icon"
                                                ><i class="fal fa-envelope"></i
                                            ></span>
                                            <span class="address_text"
                                                >humas@borsyacipta.com</span
                                            >
                                        </a>
                                        <a
                                            class="address_line"
                                            href="tel:622254412751"
                                            target="_blank"
                                        >
                                            <span class="address_icon"
                                                ><i class="fal fa-phone"></i
                                            ></span>
                                            <span class="address_text"
                                                >622254412751</span
                                            >
                                        </a>
                                        <a
                                            class="address_line"
                                            href="#"
                                            target="_blank"
                                        >
                                            <span class="address_icon"
                                                ><i
                                                    class="fal fa-map-marker-alt"
                                                ></i
                                            ></span>
                                            <span class="address_text"
                                                >Jalan kopo BizPark Commercial
                                                Estate Blok A2 No.7
                                                Bandung</span
                                            >
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6"
                        >
                            <div
                                class="footer_widget mb-50 pl-10 wow fadeInUp"
                                data-wow-delay="0.5s"
                            >
                                <div class="footer_widget_title">
                                    <h4 class="footer_title_text">
                                        Maps
                                        <span class="footer_sub_text"
                                            >Get Direct to Location</span
                                        >
                                    </h4>
                                </div>

                                <div id="map" class="main-mapa__item"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_copyright_area soft_darker_bg pt-30">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-5 col-sm-6">
                            <p
                                class="copyright_text mb-30 text-center text-sm-start wow fadeInLeft"
                                data-wow-delay="0.3s"
                            >
                                Copyright by
                                <a href="#">PT. Magitha Citra Nusantara</a> -
                                2022
                            </p>
                        </div>
                        <div class="col-xxl-7 col-sm-6">
                            <div
                                class="footer_social text-sm-end text-center mb-30 wow fadeInRight"
                                data-wow-delay="0.3s"
                            >
                                <a
                                    href="https://www.facebook.com/BorSyaGroup"
                                    target="_blank"
                                    ><i class="fab fa-facebook-f"></i
                                ></a>
                                <a href="" target="_blank"
                                    ><i class="fab fa-twitter"></i
                                ></a>
                                <a
                                    href="https://instagram.com/borsyagroup"
                                    target="_blank"
                                    ><i class="fab fa-instagram"></i
                                ></a>
                                <a
                                    href="https://www.youtube.com/channel/UChBtMxlGvuk9MCR7ZogYytw"
                                    target="_blank"
                                    ><i class="fab fa-youtube"></i
                                ></a>
                                <a
                                    href="https://www.facebook.com/BorSyaGroup"
                                    target="_blank"
                                    ><i class="fab fa-linkedin-in"></i
                                ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer_area-end -->

        <!-- JS here -->
        <script src="../public/frontend/tionco/assets/js/jquery.min.js"></script>
        <script src="../public/frontend/tionco/assets/js/bootstrap.bundle.min.js"></script>
        <script src="../public/frontend/tionco/assets/js/swipper-bundle.min.js"></script>
        <script src="../public/frontend/tionco/assets/js/jquery.meanmenu.min.js"></script>
        <script src="../public/frontend/tionco/assets/js/wow.min.js"></script>
        <script src="../public/frontend/tionco/assets/js/jquery.scrollUp.min.js"></script>
        <script src="../public/frontend/tionco/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="../public/frontend/tionco/assets/js/isotope.pkgd.min.js"></script>
        <script src="../public/frontend/tionco/assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="../public/frontend/tionco/assets/js/mouse-wheel.min.js"></script>
        <script src="../public/frontend/tionco/assets/js/odometer.min.js"></script>
        <script src="../public/frontend/tionco/assets/js/appair.min.js"></script>
        <script src="../public/frontend/tionco/assets/js/back-to-top.min.js"></script>
        <script src="../public/frontend/tionco/assets/js/main.js"></script>
        <script src="../public/js/app.js"></script>
        <script
            type="text/javascript"
            src="../public/frontend/tionco/assets/vendor/lazyload/jquery.lazy.min.js"
        ></script>
        <script
            type="text/javascript"
            src="../public/frontend/tionco/assets/vendor/lazyload/jquery.lazy.plugins.min.js"
        ></script>

        <!--====== YOUTUBE JS ======-->
        <script
            type="text/javascript"
            src="../public/frontend/tionco/assets/vendor/youtube/player/js/youtube-video-player.jquery.js"
        ></script>
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="../public/frontend/tionco/assets/vendor/youtube/player/packages/perfect-scrollbar/perfect-scrollbar.css"
        />
        <script
            type="text/javascript"
            src="../public/frontend/tionco/assets/vendor/youtube/player/packages/perfect-scrollbar/jquery.mousewheel.js"
        ></script>
        <script
            type="text/javascript"
            src="../public/frontend/tionco/assets/vendor/youtube/player/packages/perfect-scrollbar/perfect-scrollbar.js"
        ></script>
        <!--====== LEAFLET ======-->
        <link rel="stylesheet" href="../leaflet%401.5.1/dist/leaflet.css" />
        <link
            rel="stylesheet"
            href="https://yui.yahooapis.com/pure/0.6.0/pure-min.css"
        />
        <script src="../leaflet%401.5.1/dist/leaflet.js"></script>

        <script>
            $(document).ready(function () {
                // $("#playlist-horizontal").youtube_video({
                //   playlist: false,
                //   channel: 'UCj20ohFNrIJvj3e3e1ZLoBw',
                //   user: false,
                //   videos: false,
                //   max_results: 10,
                //   pagination: true,
                //   continuous: true,
                //   first_video: 0,
                //   show_playlist: 'auto',
                //   playlist_type: 'horizontal',
                //   show_channel_in_playlist:false,
                //   show_channel_in_title: false,
                //   width: false,
                //   show_annotations: false,
                //   now_playing_text: 'Now Playing',
                //   load_more_text: 'Load More',
                //   autoplay: true,
                //   force_hd: true,
                //   hide_youtube_logo: true,
                //   play_control: true,
                //   time_indicator: 'full',
                //   volume_control: true,
                //   share_control: false,
                //   fwd_bck_control: true,
                //   youtube_link_control: false,
                //   fullscreen_control: true,
                //   playlist_toggle_control:true,
                //   volume: false,
                //   show_controls_on_load: true,
                //   show_controls_on_pause: true,
                //   show_controls_on_play: false,
                //   player_vars: {},
                //   colors: {
                //     'controls_bg': 'rgba(0,0,0,.9)'
                //   },
                //   require_cookie_accept: false
                // });
            });

            $(function () {
                $(".lazy").Lazy();
            });
        </script>

        <style type="text/css">
            #map {
                height: 250px;
            }
        </style>

        <script type="text/javascript">
            //Init Overlays
            var overlays = {};

            //Init BaseMaps
            var basemaps = {
                OpenStreetMaps: L.tileLayer(
                    "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                    {
                        minZoom: 2,
                        maxZoom: 19,
                        id: "osm.streets",
                    }
                ),
            };
            //Map Options
            var mapOptions = {
                zoomControl: false,
                attributionControl: false,
                center: [-6.9512526, 107.5860536],
                zoom: 10,
                layers: [basemaps.OpenStreetMaps],
            };

            //Render Main Map
            var map = L.map("map", mapOptions);

            // Location
            L.marker([-6.9512526, 107.5860536])
                .addTo(map)
                .bindPopup(
                    "<h5>PT. Magitha Citra Nusantara</h5>Jalan kopo BizPark Commercial Estate Blok A2 No.7 Bandung"
                )
                .openPopup();

            L.circle([-6.9512526, 107.5860536], 250, {
                color: "blue",
                fillColor: "#2ecc71",
                fillOpacity: 0.2,
            })
                .addTo(map)
                .bindPopup("Lokasi PT. Magitha Citra Nusantara");

            //Handle Map click to Display Lat/Lng
            map.on("click", function (e) {
                $("#latlng").html(e.latlng.lat + ", " + e.latlng.lng);
                $("#latlng").show();
            });
        </script>
    </body>
</html>
